#include <bdn/init.h>
#include <bdn/test.h>

#include <bdn/{{name}}.h>
#include <bdn/Window.h>
#include <bdn/test/Test{{name}}Core.h>

#import "TestIosViewCoreMixin.hh"

using namespace bdn;


class TestIos{{name}}Core : public bdn::test::TestIosViewCoreMixin< bdn::test::Test{{name}}Core >
{
protected:
    
    void initCore() override
    {
        bdn::test::TestIosViewCoreMixin< bdn::test::Test{{name}}Core >::initCore();
        
        _pUI{{name}} = (UI{{name}}*) _pUIView;
        REQUIRE( _pUI{{name}}!=nullptr );
    }
    
    // TODO: verify your properties here, e.g.:
    
    /*void verifyCoreLabel() override
    {
        String expectedLabel = _p{{name}}->label();
        String label = bdn::ios::iosStringToString(_pUI{{name}}.currentTitle);
        REQUIRE( label == expectedLabel );
    }*/
    
protected:
    UI{{name}}* _pUI{{name}};
};


TEST_CASE("ios.{{name}}Core")
{
    P<TestIos{{name}}Core> pTest = newObj<TestIos{{name}}Core>();
    pTest->runTests();
}


