[submodule "3rdparty/webdriverxx"]
	path = 3rdparty/webdriverxx
	url = https://github.com/sekogan/webdriverxx.git
[submodule "3rdparty/curl"]
	path = 3rdparty/curl
	url = https://github.com/curl/curl.git
