#ifndef BDN_IOS_{{name}}Core_HH_
#define BDN_IOS_{{name}}Core_HH_

#include <bdn/{{name}}.h>
#include <bdn/I{{name}}Core.h>
#include <bdn/ios/ViewCore.hh>

@class Bdn{{name}}ClickManager;

namespace bdn
{
namespace ios
{

class {{name}}Core : public ViewCore, BDN_IMPLEMENTS I{{name}}Core
{
private:
    static {{nativeControlName}}* _create{{nativeControlName}}({{name}}* pOuter{{name}})
    {
        {{nativeControlName}}* {{varName}} = [[{{nativeControlName}} alloc] initWithFrame:CGRectMake(0, 0, 0, 0)];
        
        return {{varName}};
    }
    

public:
    {{name}}Core({{name}}* pOuter{{name}});
    
    void generateClick();
    
private:
    Bdn{{name}}ClickManager* _clickManager;
};

}
}


#endif // BDN_IOS_{{name}}Core_HH_
