#ifndef BDN_ANDROID_{{name}}Core_H_
#define BDN_ANDROID_{{name}}Core_H_

#include <bdn/android/ViewCore.h>
#include <bdn/android/J{{nativeControlName}}.h>
#include <bdn/I{{name}}Core.h>
#include <bdn/{{name}}.h>


namespace bdn
{
namespace android
{


class {{name}}Core : public ViewCore, BDN_IMPLEMENTS I{{name}}Core
{
private:
    static P<J{{nativeControlName}}> _createJ{{nativeControlName}}({{name}}* pOuter)
    {
        // We need to know the context to create the view.
        // If we have a parent then we can get that from the parent's core.
        P<View> 	pParent = pOuter->getParentView();
        if(pParent==nullptr)
            throw ProgrammingError("{{name}}Core instance requested for a {{name}} that does not have a parent.");

        P<ViewCore> pParentCore = cast<ViewCore>( pParent->getViewCore() );
        if(pParentCore==nullptr)
            throw ProgrammingError("{{name}}Core instance requested for a {{name}} with core-less parent.");

        JContext context = pParentCore->getJView().getContext();

        return newObj<J{{nativeControlName}}>(context);
    }

public:
    {{name}}Core( {{name}}* pOuter{{name}} )
     : ViewCore( pOuter{{name}}, _createJ{{nativeControlName}}(pOuter{{name}}) )
    {
        _pJ{{nativeControlName}} = cast<J{{nativeControlName}}>( &getJView() );

        _pJ{{nativeControlName}}->setSingleLine(true);

        // TODO: set initial property values
    }

    J{{nativeControlName}}& getJ{{nativeControlName}}()
    {
        return *_pJ{{nativeControlName}};
    }

    // TODO: implement setters as defined in I{{name}}Core

    void clicked() override
    {
        P<View> pView = getOuterViewIfStillAttached();
        if(pView!=nullptr)
        {
            ClickEvent evt(pView);
            
            cast<{{name}}>(pView)->onClick().postNotification(evt);
        }
    }

protected:

    double getFontSizeDips() const override
    {
        // the text size is in pixels
        return _pJ{{nativeControlName}}->getTextSize() / getUiScaleFactor();
    }

private:
    P<J{{nativeControlName}}> _pJ{{nativeControlName}};
};


}    
}

#endif // BDN_ANDROID_{{name}}Core_H_
