#ifndef BDN_I{{name}}Core_H_
#define BDN_I{{name}}Core_H_

#include <bdn/IViewCore.h>

namespace bdn
{

class I{{name}}Core : BDN_IMPLEMENTS IViewCore
{
public:

	// Implement setter functions for property observers here
	
};


}

#endif
