input::placeholder {
	color: rgba(255,255,255,0.5) !important;
}

.md-header.boden-hero {
	background-color: rgb(27,27,27);
	color: white;
}

.md-tabs.boden-hero {
	background-color: rgb(27,27,27);
	color: white;
}

.md-grid.boden-hero {
	color: white;
	background-color: rgb(27,27,27);
	margin: 0;
	max-width: 100%;
	text-align: center;
}

.md-grid.boden-hero h1 {
	font-size: 36px;
	margin: 0;
	padding: 20px;
	padding-bottom: 50px;
}

.boden-hero-main__inner {
	height: auto;
}

@media only screen and (min-width: 76.1875em) {
	.boden-hero-sidebar__primary {
		display: none;
	}
}

.md-legal {
	margin-top: 1.5em;
	margin-bottom: 5em;
}

.md-legal ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.md-legal ul li {
	margin: 0;
	padding: 0;
	margin-right: 10px;
	display: inline-block;
}

.cc-banner {
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
}