#ifndef BDN_{{name}}_H_
#define BDN_{{name}}_H_

#include <bdn/View.h>
#include <bdn/I{{name}}Core.h>
#include <bdn/ClickEvent.h>

namespace bdn
{

/** A simple {{name}} with a text label.*/
class {{name}} : public View
{
public:
	{{name}}()
	{
        _pOnClick = newObj< DefaultNotifier<const ClickEvent&> >();

		//initProperty<String, I{{name}}Core, &I{{name}}Core::setLabel, (int PropertyInfluence_::preferredSize>(label);
	}

	INotifier<const ClickEvent&>& onClick()
	{
		return *_pOnClick;
	}

	/** Static function that returns the type name for #{{name}} objects.*/
	static String get{{name}}CoreTypeName()
	{
		return "bdn.{{name}}Core";
	}

	String getCoreTypeName() const override
	{
		return get{{name}}CoreTypeName();
	}


	P< DefaultNotifier<const ClickEvent&> > _pOnClick;
};


}

#endif
