#ifndef BDN_WIN32_{{name}}Core_H_
#define BDN_WIN32_{{name}}Core_H_

#include <bdn/{{name}}.h>
#include <bdn/I{{name}}Core.h>
#include <bdn/win32/ViewCore.h>

namespace bdn
{
namespace win32
{

class {{name}}Core : public ViewCore, BDN_IMPLEMENTS I{{name}}Core
{
public:
	{{name}}Core({{name}}* pOuter);

	// TODO: declare setters as declared in I{{name}}Core

	Size calcPreferredSize( const Size& availableSpace = Size::none() ) const override;

protected:		
	void handleParentMessage(MessageContext& context, HWND windowHandle, UINT message, WPARAM wParam, LPARAM lParam) override;

};


}
}

#endif // BDN_WIN32_{{name}}Core_H_
