#include <bdn/init.h>
#include <bdn/test.h>

#include <bdn/{{name}}.h>
#include <bdn/Window.h>
#include <bdn/test/Test{{name}}Core.h>
#include "TestWin32ViewCoreMixin.h"

using namespace bdn;


class TestWin32{{name}}Core : public bdn::test::TestWin32ViewCoreMixin< bdn::test::Test{{name}}Core >
{
protected:
    void verifyCoreText() override
    {
        String expectedText = _p{{name}}->Text();
        String text = bdn::win32::Win32Window::getWindowText(_hwnd);
        REQUIRE( Text == expectedText );
    }
};

TEST_CASE("win32.{{name}}Core")
{
    P<TestWin32{{name}}Core> pTest = newObj<TestWin32{{name}}Core>();
    pTest->runTests();
}
